h1 {
  font-size: 32px;
  font-family: 'Raleway' , sans-serif;
}

p {
  font-size: 14px;
  font-family: 'Raleway',sans-serif;
  color: rgb(14 15 15 / 62%);
}
.btn-section {
  background-color: chocolate;
  width: 150px; 
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

/* Media query for screens up to 425px */
@media (max-width: 426px) {
  h1 {
    font-size: 14px !important;
  }
  p {
    font-size: 12px !important;
  }
  .btn-section{
    width: 120px !important;
    padding: 5px !important;
  }
}

/* Media query for screens between 426px and 767px */
@media (min-width: 426px) and (max-width:767px) {
  h1 {
    font-size: 20px !important;
  }
  p{
    font-size: 12px !important;
  }
}

/* Media query for screens 1024px and above */
@media (min-width:768px) and (max-width: 1024px) {
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 12px;
  }
}
